<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultSettings</key>
	<array>
		<dict>
			<key>name</key>
			<string>3 min</string>
			<key>default</key>
			<true/>
			<key>increment</key>
			<dict>
				<key>type</key>
				<string>CHChessClockFischerIncrement</string>
				<key>incrementValue</key>
				<integer>0</integer>
			</dict>
			<key>timeStages</key>
			<array>
				<dict>
					<key>movesCount</key>
					<integer>0</integer>
					<key>maximumTime</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>3 min | 2 sec</string>
			<key>increment</key>
			<dict>
				<key>type</key>
				<string>CHChessClockFischerIncrement</string>
				<key>incrementValue</key>
				<integer>2</integer>
			</dict>
			<key>timeStages</key>
			<array>
				<dict>
					<key>movesCount</key>
					<integer>0</integer>
					<key>maximumTime</key>
					<string>3</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>5 min</string>
			<key>default</key>
			<true/>
			<key>increment</key>
			<dict>
				<key>type</key>
				<string>CHChessClockFischerIncrement</string>
				<key>incrementValue</key>
				<integer>0</integer>
			</dict>
			<key>timeStages</key>
			<array>
				<dict>
					<key>movesCount</key>
					<integer>0</integer>
					<key>maximumTime</key>
					<string>5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>15 min | 2 sec</string>
			<key>increment</key>
			<dict>
				<key>type</key>
				<string>CHChessClockFischerIncrement</string>
				<key>incrementValue</key>
				<integer>2</integer>
			</dict>
			<key>timeStages</key>
			<array>
				<dict>
					<key>movesCount</key>
					<integer>0</integer>
					<key>maximumTime</key>
					<string>15</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>2 hr (40 moves) + 1 hr (5 sec delay)</string>
			<key>increment</key>
			<dict>
				<key>type</key>
				<string>CHChessClockDelayIncrement</string>
				<key>incrementValue</key>
				<integer>5</integer>
			</dict>
			<key>timeStages</key>
			<array>
				<dict>
					<key>movesCount</key>
					<integer>40</integer>
					<key>maximumTime</key>
					<string>120</string>
				</dict>
				<dict>
					<key>movesCount</key>
					<integer>0</integer>
					<key>maximumTime</key>
					<string>60</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
